li a {
    color: #c6b5aa;
    text-decoration: none;
}

nav {
    width: 80%;
    margin: auto;
    position: relative;
    top: 15px;
    border-radius: 20px;
    margin-bottom: 50px;
    border: none;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    background-image: url("../img/mvehfqz6w2ges2dj.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow-y: hidden;
}

nav ul {
    padding: 25px;
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    font-size: 30px;
    text-decoration: solid;
    color: #000;
    transition: all 0.6s;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

nav ul li a:hover {
    color: #b700ffa6;
}

.also{
    font-size: 30px;
    text-decoration: solid;
    color: #000;
    transition: all 0.6s;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.also:hover {
    color: #b700ffa6;
}